[submodule "Libraries/colyseus-websocket-hx"]
	path = Libraries/colyseus-websocket
	url = https://github.com/colyseus/colyseus-websocket-hx
[submodule "Libraries/hxbit"]
	path = Libraries/hxbit
	url = https://github.com/HeapsIO/hxbit
[submodule "Libraries/colyseus-haxe"]
	path = Libraries/colyseus-haxe
	url = https://github.com/doczi-dominik/colyseus-haxe
